<div class="container home-product-list">
    <h2>{{category}}</h2>
    <br><br>
    <div class="row">
        {{#each products }}
        <div class="col-6 col-sm-3 col-m-3 align-text-bottom">
            {{#if image}}
            <a href="/products/{{category}}/{{slug}}"><img class="card-img-top product-listing"
                    src="/img/products/{{id}}/{{image}}" alt=""></a>
            {{else}}
            <a href="/products/{{category}}/{{slug}}"><img class="card-img-top product-listing" src="/img/no-image.png"
                    alt=""></a>
            {{/if}}
            <h4 class="">
                <a href="/products/{{category}}/{{slug}}">{{title}}</a>
            </h4>
            <h5>${{fixed price}}</h5>
            <p class="text-dark">&#9733; &#9733; &#9733; &#9733; &#9734;</p>
        </div>
        {{/each}}
    </div>
</div>